.bg-opt-1-5 {
    background-color: #BBE2F2;
}
.opt-1-1 {
    color: #0B1E26;
}
.opt-1-2 {
    color: #1C4859;
}
.opt-1-3 {
    color: #266F8C;
}
.opt-1-4 {
    color: #54A1BF;
}
.opt-1-5 {
    color: #BBE2F2;
}